<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Health Tracker App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="healthapp container">
      <header class="header">
        <div class="row">
          <h1 class="col-md-12 title">Health Tracker</h1>
        </div>
        <div class="row">
          <h4 class="col-md-12 subtitle">Monitor your calorie intake</h4>
        </div>
      </header>

      <section class="search-section form-group">
          <div class="row">
            <input class="item-search col-md-12 form-control" placeholder="Search for your food item" autofocus>
          </div>
          <div class="row">
            <ul class="search-list list-group"></ul>
          </div>
      </section>

        <section class="calorie-section form-group row">
          <div class="col-md-6 col-sm-6 col-xs-12 calorie-display">
            <input class="calorie-count form-control" placeholder="Calories per serving">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 serving-side">
            <select class="serving-size form-control" name="serving-select">
              <option value="" disabled selected>SERVINGS</option>
              <option value="1">1 Serving</option>
              <option value="2">2 Servings</option>
              <option value="3">3 Servings</option>
              <option value="4">4 Servings</option>
              <option value="5">5 Servings</option>
            </select>
            <button class="add-button btn btn-primary">Add</button>
          </div>
        </section>

      <section class="main">
        <h2>Your Items</h2>
        <div class="items-container">
          <ul class="item-list form-group row"></ul>
        </div>
        <h3 class="added-total">Total So Far: <span class="total-calories">0 Calories</span></h3>
      </section>
    </div>

    <script type="text/template" id="item-template">
          <h4 class="item-info col-md-8 col-sm-8 col-xs-8"><%= title %> (<%= servings %> Servings)</h4>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <h4 class="item-calorie"><%= calories %> Calories</h4>
            <button class="delete">X</button>
          </div>
    </script>

    <script type="text/template" id="search-template">
        <li class="search-result list-group-item" data-index=<%= index %>>
            <%= result %>
        </li>
    </script>

    <script src="js/lib/jquery-3.1.1.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/lib/backbone.localStorage.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="js/models/food.js"></script>
    <script src="js/collections/foods.js"></script>
    <script src="js/views/foods.js"></script>
    <script src="js/views/app.js"></script>
    <script src="js/app.js"></script>
</body>
</html>